#main {
  background-color: #e50b31;
  font-family: 'Luckiest Guy', cursive;
  color: orange;  
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 1px black;
}

.yo-mama {
  background-color: black;
}

